###
Configuration file
###
defaultLocale:
  value: "en"
  short: "The default language for the output"
debugModus:
  value: true
  short: "The debug modus logs more information"
logFile:
  value: "log.txt"
  short: "Writes the log messages into that file"
  logModus: [
    "DEBUG"
    "INFO"
    "NOTICE"
    "WARNING"
    "ERROR"]
logGuiModus:
  value: [
    "DEBUG"
    "INFO"
    "NOTICE"
    "WARNING"
    "ERROR"]

datafluxDefaultDir:
  value: "000_Backup"
  short: "Default folder inside the flux for the dataflux."
fluxDefaultDir:
  value: ".flux"
  short: "Default folder, if no folder for the flux is set."
