[
  {
    src: "C:\\Users\\Schroepfer\\test\\src"
    flux: "C:\\Users\\Schroepfer\\test\\flux"
    $$hashKey: "object:6"
  }
  {
    src: "C:\\Users\\Schroepfer\\test\\src2"
    flux: "C:\\Users\\Schroepfer\\test\\flux2"
    $$hashKey: "object:7"
  }

]
