###
Configuration file
###
autoFlushInterval:
  value: 10000
  short: "Interval in ms for the automatic flush of the dataflux cache."
defaultLocale:
  value: "en"
  short: "The default language for the output"
debugModus:
  value: true
  short: "The debug modus logs more information"
logFile:
  value: "log.txt"
  short: "Writes the log messages into that file"
  logModus: [
    "DEBUG"
    "INFO"
    "NOTICE"
    "WARNING"
    "ERROR"]
fluxDataDefaultDir:
  value: "000_Dataflux"
  short: "Default folder inside the flux for the dataflux."
fluxDefaultDir:
  value: "000_Flux"
  short: "Default folder, if no folder for the flux is set."
