#logBottom {
  border-top: 3px solid #DDD;
  position: fixed;
  bottom: 1px;
  height: 40%;
  width: 100%;
  background-color: white;
  overflow: auto;
}

.sidebar {
  max-width: 350px;
  min-width: 220px;
}

input.tableinput {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #DDD;
  width: 100%;
  background-color: inherit;
}
