button:
  addFolder: "Add Folder"
  addPattern: "Add pattern"
  clearLog: "Clear Log"
  removePattern: "Remove pattern"
  save: "Save"
txt:
  actions: "Actions"
  autoCommitInterval: "Auto-commit interval (in Minutes)"
  confirmDelete: "Are you sure to delete this folder?"
  datafluxFolder: "Flux Capacitor folder"
  folders: "Folders"
  hideLog: "Hide log"
  name: "Name"
  nr: "Nr"
  showLog: "Show log"
  skipPatterns: "Skip patterns"
  srcFolder: "Source folder"
  text: "Text"
  timestamp: "Timestamp"
  type: "Type"
icontext:
  datafluxSettings: "Dataflux settings"
  datafluxRemove: "Remove dataflux"
  datafluxAutoCommitStart: "Start auto commit"
  datafluxAutoCommitStop: "Stop auto commit"
  datafluxCommit: "commit changes"
